<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, myUser-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Add Employees</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" rel="stylesheet">

</head>
<body>
<div class="container">
    <h2>
        Add Employees
    </h2>
    <hr/>
    <form method="POST" th:action="@{/saveEmployee}" th:object="${employee}">
        <input class="form-control col-4 mb-4" placeholder="Enter your name" th:field="*{name}" type="text"/>
        <input class="form-control col-4 mb-4" placeholder="Enter your email" th:field="*{email}" type="text"/>
        <input class="form-control col-4 mb-4" placeholder="Enter your department" th:field="*{department}"
               type="text"/>
        <input class="form-control col-4 mb-4" placeholder="Enter your phone" th:field="*{phone}" type="text"/>
        <input class="form-control col-4 mb-4" placeholder="Enter your job title" th:field="*{jobTitle}" type="text"/>
        <!--        <input type="text" th:field="*{salary}" placeholder="Enter your job salary" class="form-control col-4 mb-4" />-->
        <button class="btn btn-primary " type="submit">Send</button>
        <input th:field="*{Id}" type="hidden"/>
    </form>
    <hr/>
    <a th:href="@{/list}">Back to list</a>

</div>

</body>
</html>
